   /* ate 1184px */
   @media screen and (min-width:761px) and (max-width:1143px) {
     h2 {
       font-size: 21px;

     }

     main.box__header {

       flex-direction: column;
     }



     aside p {
       display: inline-block;
       width: 500px;

     }

     form {

       margin: 0 auto;
       border: 2px solid #840ec9;
       border-radius: 10px;
       padding: 1px;

     }

     form input {

       width: 50%;
       align-self: center;
     }

     img {
       display: none;
     }
   }


   @media screen and (max-width:760px) {

     body {
       padding: none;
     }

     input {
       width: 100%;
     }



     /* header */


     header {
       flex-direction: column;

       margin: 0 auto;
     }

     /*ul */
     ul {
       text-align: center;
     }

     /* main */
     main {
       flex-direction: column;
       margin: 0 auto;
     }

     /* h2 */
     h2 {
       font-size: 38px;
     }

     /* form */
     form {
       margin: 0 auto;
       width: 100%;
     }

     /* input */
     input {
       align-self: center;
     }

     article {
       padding-left: none;

     }

     article img {
       display: none;
     }

   }

   /* media queire ate 452px */
   @media screen and (max-width:452px) {
     h2 {
       font-size: 24px;
     }

   }

   /* media queire de ate 320*/
   @media screen and (max-width:320px) {

     #title {
       display: inline-block;

       margin-left: 80px;
     }

     ul {

       width: 500px;
       display: flex;
       flex-direction: column;

     }

     #inscreva-se-btn {
       border: none;
     }

     aside {

       margin-left: 20%;
       width: 100%;
     }

   }