body {
    background-color: rgb(34 34 34);
    color: white;
    font-family: poppinsregular;
    width: 100%;
    margin: 0 auto;
    /* padding: 15px; */

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box__header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    flex-direction: column;
    line-height: 10px;
}



li {
    display: inline-block;
    margin: 25px;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a :hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn :hover {
    color: rgb(132, 14, 201);


}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 45px;

}



h2 {
    font-size: 47px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: rgb(132, 14, 201);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

span .p {
    text-transform: uppercase;

}

article {
    width: 50%;
}

img {


    width: 250px;
    /* max-width: 640px; */
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transformtranslateY: (0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

article {
    max-width: 500px;
    text-align: center;
    padding-left: 250px;
    padding-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

input {
    margin-top: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type="submit"] {
    height: 50%;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}


form [type="submit"]:hover {
    cursor: pointer;
}